<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>clean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>flash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>htmlflash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>httpd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>webpages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC1EA5831AAC6A5300C7CA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC1EA5EB1AAC6B3400C7CA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9D75F91AAC6D1D00A136B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9D75FD1AAC6D4700A136B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9D76011AAC6D4900A136B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
